<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Test for Media Library request</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Test for Bluetooth request</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Test for Calendar request</string>
	<key>NSCameraUsageDescription</key>
	<string>Test for Camera request</string>
	<key>NSContactsUsageDescription</key>
	<string>Test for Contacts request</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Test for HealthKit share request</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Test for HealthKit update request</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Test for HomeKit request</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Test for Location always request</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Test for Location when in use request</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Test for Microphone request</string>
	<key>NSMotionUsageDescription</key>
	<string>Test for Motion request</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Test for Photo request</string>
	<key>NSRemindersUsageDescription</key>
	<string>Test for Reminders request</string>
	<key>NSSiriUsageDescription</key>
	<string>Test for Siri request</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Test for Speech Recognition request</string>
	<key>NSVoIPUsageDescription</key>
	<string>Test for CallKit request</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
